{% extends 'base.html' %}
<html>
<head>
    <title>Contact Page</title>
</head>
<body>

{% block content %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
    label{font-weight: bold;}

</style>
    <center><h2>Contact Us</h2>
        <form method="POST">
            {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td><label>Name &nbsp;</label></td>
                <td><input type="text" name="contactname" size="80"></td>
            </tr>
            <tr>
                <td><label>Mobile &nbsp;</label></td>
                <td><input type="mobile" name="contactmobile" size="80"></td>
            </tr>
            <tr>
                <td><label>Email &nbsp;</label></td>
                <td><input type="email" name="contactemail" size="80"></td>
            </tr>
            <tr>
                <td><label>Message &nbsp;</label></td>
                <td><textarea name="contactmessage" rows="8" cols="83"></textarea></td>
            </tr>
        </tbody>
    </table><br>
            <center><input type="submit" value="Submit" class="btn btn-success"> &emsp; <input type="reset" value="Clear" class="btn btn-danger"></center>
        </form>
    </center>
{% endblock %}


</body>
</html>